.App {
  max-width: 600px;
  margin: 30px auto;
}

.App footer {
  font-size: 13px;
  margin: 10px 0;
  text-align: center;
  color: rgb(132, 116, 122, 0.9);
}

a {
  font-style: italic;
  color: rgb(147, 130, 137, 0.9);
}

body {
  background-image: url("clouds.jpg");
  background-repeat: no-repeat;
}

.App .container {
  padding: 0;
  background: rgb(243, 236, 236, 0.5);
}
